.container {
  /* padding: 0 20px;
  max-width: 700px; */
  margin: 0 auto;
  margin-left: 15px;
}

.container p {
  margin: 0;
  font-size: .9rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.container a:before {
  content: "[link] ";
}

.container a {
  font-size: .9rem;
  font-style: italic;
  text-decoration: underline;
  color: #414141;
}

.container h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container h2 {
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
  border-bottom: 2px dotted #878787;
}

.container h3 {
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 2px solid #CCC;
}

.container img {
  width: 100%;
  height: auto;
}

.container figure {
  margin-left: 0;
  margin-right: 0;
}

.container figcaption {
  opacity: 0.6;
}

.container blockquote {
  position: relative;
  margin: 1em 0;
  padding: 1em 1em 1em 1.5em;
  font-size: .8em;
  font-style: italic;
  /* border-left: 4px solid #CCC; */
  border-radius: 2px;
  background-color: #e4e4e4;
}

.container li {
  font-size: .8rem;
  margin-left : 15px;
}

.container details {
  font-size: .9rem;
  margin-left : 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name {
  font-size: 36px;
}

.back {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  .code {
    background-color: rgb(15, 8, 28);
  }
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.info {
  padding: 0.2rem 0.8rem;
  padding-left: 0;
  overflow: auto;
  margin-bottom: 0;
  margin: 0px;
  font-size: 0.85rem;
  max-width: 100%;
}

