html,
body {
  margin: 0 auto;
  padding-top: 5rem;
  padding: 5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: white;
  color: black;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
} */

a {
  color: #414141;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}

.main {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px)
{
  .navi {
    position: fixed;
    width: 9rem;
  }

  .content {
    margin-left: 25%;
    width: 75%;
  }
}

/* .content {
  width: 75%;
} */

.navi {
  /* margin-right: auto; */
  /* float: left; */
  margin: 0 auto;
  margin-left: 0;
  margin-bottom: 2.5rem;
  list-style: none;
}

.logos {
  align-items: left;
  margin: 0;
}